---
---

body {
  background-color: #f0fbdd;
  color: #24292e;
}

/* 1. 水平線（---）を黒くする */
hr {
  height: 0.25em;
  background-color: #000000;
  border: 0;
  margin: 24px 0;
}

/* 2. 見出し（項目ごと）の下線を黒くする */
h1,
h2,
h3 {
  border-bottom: 1px solid #000000;
  padding-bottom: 0.3em;
}
